.form {
  width: 30vw;
  border: 2px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
}

.label {
  font-size: 28px;
}

.input {
  font-size: 24px;
  width: 28vw;
}

.error {
  font-size: 16px;
  font-weight: 600;
  color: red;
}

.button {
  width: 25vw;

  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 24px;
}
